<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="EvidenceLoggingSystemStoreContainer"
         connectionString="metadata=res://*/EvidenceLoggingSystem.csdl|res://*/EvidenceLoggingSystem.ssdl|res://*/EvidenceLoggingSystem.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MLVUDPRJ01;initial catalog=EvidenceLoggingSystem;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="Off" xdt:Transform="Insert" />
  </system.web>
</configuration>